<link rel="stylesheet" href="/css/landing.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet">

<nav class="navbar is-fixed-top">
  <main class="is-camilla-nav is-camilla-grey-background is-inactive" role="navigation" aria-label="main navigation">
    <button class="is-camilla-hamburger button fixed-48px-width" onclick="toggleMainNav()">
      <i id="burger-btn-icon" class="fas fa-bars"></i>
    </button>
    <a class="is-camilla-logo" href="/"><img src="./assets/img/logo.svg" alt="logo"></a>
    <% const sections=[{ label: 'Home' , href: '/' , display: true }, { label: 'Über uns' , href: '/pizzeria-berlin' ,
      display: true }, { label: 'Speisekarte' , href: '/pizza-berlin' , display: generatedPDF }, {
      label: 'Tischreservierung' , href: '/tisch-reservieren-berlin' , display: true }, { label: 'Kontakt' ,
      href: '/pizzeria-berlin-kontakt' , display: true }, { label: 'Admin' , href: '/admin' , display: false } ] %>
      <span class="is-camilla-mobile-wrapper is-inactive" id="main-nav">
        <ul class="is-camilla-nav sliding-line">
          <% sections.forEach((section)=> {
            if(section.display){
            %>
            <li class="sliding"><a class="hover hover-2 <%- url === section.href ? 'nav-item-active' : null %>"
                href="<%= section.href %>">
                <%= section.label %>
              </a></li>
            <%}})%>
        </ul>
      </span>
      <div class="opening-hours">
        <div>
          Hufelandstraße 36<br>10407 Berlin
        </div>
        <div>
          Öffnungszeiten <br> 08:00 - 16:00 | 18:00 - 22:00
        </div>
      </div>
  </main>
</nav>
<main id="content">
  <%- include(partial) %>
</main>
<%- include('./footer') %>
  <script src="/js/global.js"></script>
  <script src="/js/main.js"></script>